.actinide {
    background-color: lightgreen;
    grid-row: 10;
}

// Element Locations

#actinium {
    grid-column: 4;
}

#thorium {
    grid-column: 5;
}

#protactinium {
    grid-column: 6;
}

#uranium {
    grid-column: 7;
}

#neptunium {
    grid-column: 8;
}

#plutonium {
    grid-column: 9;
}

#americium {
    grid-column: 10;
}

#curium {
    grid-column: 11;
}

#berkelium {
    grid-column: 12;
}

#californium {
    grid-column: 13;
}

#einsteinium {
    grid-column: 14;
}

#fermium {
    grid-column: 15;
}

#mendelevium {
    grid-column: 16;
}

#nobelium {
    grid-column: 17;
}

#lawrencium {
    grid-column: 18;
}