.alkaline-earth-metal {
    background-color: plum;
    grid-column: 2;
}

// Element Locations

#beryllium {
    grid-row: 2;
}

#magnesium {
    grid-row: 3;
}

#calcium {
    grid-row: 4;
}

#strontium {
    grid-row: 5;
}

#barium {
    grid-row: 6;
}

#radium {
    grid-row: 7;
}