.alkali-metal {
    background-color: lightsalmon;
    grid-column: 1;
}

// Marker Locations

#marker2-1 {
    grid-column: 3;
    grid-row: 7;
}

#marker2-2 {
    grid-column: 3;
    grid-row: 10;
}

// Element Locations

#lithium {
    grid-row: 2;
}

#sodium {
    grid-row: 3;
}

#potassium {
    grid-row: 4;
}

#rubidium {
    grid-row: 5;
}

#cesium {
    grid-row: 6;
}

#francium {
    grid-row: 7;
}