.halogen {
    background-color: rgb(16, 250, 35);
}

// Element Locations

#fluorine {
    grid-column: 17;
    grid-row: 2;
}

#chlorine {
    grid-column: 17;
    grid-row: 3;
}

#bromine {
    grid-column: 17;
    grid-row: 4;
}

#iodine {
    grid-column: 17;
    grid-row: 5;
}

#astatine {
    grid-column: 17;
    grid-row: 6;
}

#tennessine {
    grid-column: 17;
    grid-row: 7;
}