.lanthanide {
    background-color: #87CEFA;
    grid-row: 9;
}

// Marker Locations

#marker1-1 {
    grid-column: 3;
    grid-row: 6;
}

#marker1-2 {
    grid-column: 3;
    grid-row: 9;
}

// Element Locations

#lanthanum {
    grid-column: 4;
}

#cerium {
    grid-column: 5;
}

#praseodymium {
    grid-column: 6;
}

#neodymium {
    grid-column: 7;
}

#promethium {
    grid-column: 8;
}

#samarium {
    grid-column: 9;
}

#europium {
    grid-column: 10;
}

#gadolinium {
    grid-column: 11;
}

#terbium {
    grid-column: 12;
}

#dysprosium {
    grid-column: 13;
}

#holmium {
    grid-column: 14;
}

#erbium {
    grid-column: 15;
}

#thulium {
    grid-column: 16;
}

#ytterbium {
    grid-column: 17;
}

#lutetium {
    grid-column: 18;
}