.noble-gas {
    background-color: #F08080;
    grid-column: 18;
}

// Element Locations

#helium {
    grid-row: 1;
}

#neon {
    grid-row: 2;
}

#argon {
    grid-row: 3;
}

#krypton {
    grid-row: 4;
}

#xenon {
    grid-row: 5;
}

#radon {
    grid-row: 6;
}

#oganesson {
    grid-row: 7;
}