.post-transition-metal {
    background-color: #BAB3E6;
}

// Element Locations

#aluminum {
    grid-column: 13;
    grid-row: 3;
}

#gallium {
    grid-column: 13;
    grid-row: 4;
}

#indium {
    grid-column: 13;
    grid-row: 5;
}

#tin {
    grid-column: 14;
    grid-row: 5;
}

#thallium {
    grid-column: 13;
    grid-row: 6;
}

#lead {
    grid-column: 14;
    grid-row: 6;
}

#bismuth {
    grid-column: 15;
    grid-row: 6;
}

#nihonium {
    grid-column: 13;
    grid-row: 7;
}

#flerovium {
    grid-column: 14;
    grid-row: 7;
}

#moscovium {
    grid-column: 15;
    grid-row: 7;
}

#livermorium {
    grid-column: 16;
    grid-row: 7;
}