---
---
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Teko:wght@700&display=swap');
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 400;
}

div {
    border: 4px solid white;
    height: 100px;
    padding: 8px;
    width: 100px;
}

h2 {
    font-weight: 700;
}

.periodictable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; // Eighteen
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; // Ten
}

.symbol {
    font-family: 'Teko', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 33px;
    padding-top: 4px;
}

// Elemental Rules

@import "nonmetal";
@import "noble-gas";
@import "alkali-metal";
@import "alkaline-earth-metal";
@import "metalloid";
@import "halogen";
@import "post-transition-metal";
@import "transition-metal";
@import "lanthanide";
@import "actinide";