---
---
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Teko:wght@700&display=swap');
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 400;
}

// Utility Classes
.screen-reader-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip: rect(1px 1px 1px 1px); // IE 6 and 7
    clip: rect(1px,1px,1px,1px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden !important;
}

// Global Settings

div {
    border: 2px solid white;
    max-height: 10vh;
    padding: 8px;
    position: relative; // used to allow allignment of other items
    max-width: 10vh;
}

h2 {
    font-weight: 700;
}

li {
    font-size: 15px;
    list-style-type: none;
}

li span {
    display: inline-block;
    height: 15px;
    width: 20px;
}

span {
    align-items: center;
    display: flex;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
}

// Custom Styles

#key {
    grid-column: 4 / 12;
    grid-row: 1 / 3;
    position: relative;
}

#key ul {
    left: 1px;
    position: absolute;
    top: 1px;
}

.number {
    position: absolute;
    top: 2px;
    right: 4px;
}

.periodictable {
    display: grid;
    grid-template-columns: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh; // Eighteen
    grid-template-rows: 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh 10vh ; // Ten
}

.symbol {
    font-family: 'Teko', sans-serif;
    font-size: 44px;
    font-weight: 700;
    line-height: 33px;
    padding-top: 4px;
}

// Elemental Rules

@import "nonmetal";
@import "noble-gas";
@import "alkali-metal";
@import "alkaline-earth-metal";
@import "metalloid";
@import "halogen";
@import "post-transition-metal";
@import "transition-metal";
@import "lanthanide";
@import "actinide";